/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  display: flex;
  justify-content: center;
  align-items: center;
}

#calc{
  max-width: 25rem;
  margin: 15rem 0 0 0;
  height: auto;
  flex-direction: column;
  background: grey;
  padding: 1rem;
  border-radius: 2rem;
  
}

#input{
  text-align: end;
  max-width: 20rem;
  background: white;
  border-radius: .5rem;
}
h2{
  padding: 1rem;
}

#buttons{
  display: flex;
  max-width: 20rem;
  flex-wrap: wrap;
}

.btn{
  width: 100%;
  max-width: 5rem;
  height: 5rem;
  font-size: 2rem;
  border-radius: 1rem;
  outline: none;
  border: 1px solid black;

}

#zero{
  max-width: 10rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
