/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  font-family: 'Source Sans Pro','Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container{
  display: flex;
  min-height: 95vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

#calc{
  border: 5px solid black;
  flex-direction: column;
  background: grey;
  border-radius: 1rem;
  padding:.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#input{
  text-align: end;
  width: 32rem;
  max-height: 6rem;
  background: white;
  border: 1px solid #505050;
  font-size: 2.5rem;
  margin: .2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

h2{
  padding: 1rem;
}

#buttons{
  display: flex;
  max-width: 35rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.btn{
  width: 100%;
  max-width: 8rem;
  height: 7rem;
  font-size: 3rem;
  outline: none;
  border: 1px solid #505050;
  background: #D4D4D2;
}
.btn:hover{
  background: #a1a19f;
}
.btn:active{
  background: #7c7c7a;
}

.operator, .equals{
  background: #FF9500;
  
}

.operator:hover, .equals:hover{
  background: #cc7700;
}

.operator:active, .equals:active{
  background: #9e5c00;
}

#zero{
  max-width: 16rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
